@font-face {
  font-family: "Efrra";
  src: url("../font/Effra_Rg.ttf");
}
@font-face {
  font-family: "EfrraBold";
  src: url("../font/Effra-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  line-height: 32px;
  font-family: "Efrra", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: linear-gradient(#ffffff8e , #ffffff85) , url('../imgs/bg.jpg');
  background-repeat: repeat;
  // background-size: 50%;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  &::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #f0901f;
    border-radius: 12px;
    mix-blend-mode: multiply;
  }
}
header {
  padding-top: 12px;
  padding: 40px 40px 0 40px;
  display: flex;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 12px;
    flex: 1;
    gap: 80px;
    img {
      &:nth-child(1) {
        height: 42px;
      }
    }
  }
  .brand {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    h1 {
      font-size: 32px;
      color: #f49529;
      text-align: center;
    }
    h4 {
      color: #000;
      font-size: 20px;
      text-align: center;
    }
  }
  .qCode {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 12px;
    .title {
      h6 {
        color: #000;
        font-size: 14px;
      }
      h5 {
        color: #000;
        font-size: 28px;
      }
    }
  }
}
.line {
  width: 90%;
}
main {
  padding: 36px 40px;
  display: flex;
  gap: 40px;
  .text {
    flex: 1;
    p {
      color: #908e8b;
      font-size: 16px;
      line-height: 32px;
      b {
        color: #606060;
      }
    }
    .head {
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 12px;
      margin-bottom: 12px;
      p {
        font-size: 20px;
        line-height: normal;
      }
      h3 {
        font-size: 18px;
        color: #000;
        font-family: "EfrraBold", sans-serif;
        
      }
    }
    &:nth-child(2) {
      direction: ltr;
      text-align: left;
      P {
        font-size: 14px;
        line-height: 24px;
      }
      .head {
        p {
          font-size: 14px;
        }
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}
footer {
  padding: 40px;
  height: 400px;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: space-between;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  background: #f0901f;
  .upper {
    display: flex;
    gap: 24px;
  }
  .card {
    flex: 3;
    background: #ffffff55;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    border-radius: 12px;
    padding: 16px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 8px;
      li {
        display: flex;
        align-items: center;
        gap: 16px;
        .label {
          padding: 0 8px;
          width: 100px;
          font-size: 11px;
          -webkit-print-color-adjust: exact !important;
          print-color-adjust: exact !important;
          background: #fff;
          border-radius: 8px;
          color: #000;
        }
        p {
          color: #fff;
          font-size: 12px;
        }
      }
    }
    &.second ul li {
      flex-direction: row-reverse;
      .label {
        text-align: left;
        width: 90px;
      }
    }
  }
  .code {
    width: 80%;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 12px;
    padding: 8px;
    flex: 1;
    p {
      line-height: 26px;
      text-align: center;
    }
    img {
      height: 100px;
      object-fit: contain;
    }
  }
  .lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 100%;
      img {
        height: 100%;
      }
    }
    .downloadApp {
      h2 {
        color: #fff;
        font-size: 26px;
        margin-bottom: 12px;
      }
      .downloads {
        display: flex;
        gap: 12px;
      }
      img {
        height: 32px;
      }
    }
  }
}
